body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 80%;
  color: #000000;
  line-height: 1.5em;
  background-color: #FFFFFF;
  margin: 0;
  padding: 1em;
}

h1 {
  font-family: "Trebuchet ms", Verdana, Helvetica, Arial, sans-serif;
  color: #7590AE;
  margin: 0;
  padding: 1em 0em;
}

h2 {
  font-family: "Trebuchet ms", Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #7590AE;
  margin: 0;
  padding: 0.5em 0em;
}

h3 {
  font-family: "Trebuchet ms", Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #8B4513;
  margin: 0;
  padding: 0.3em 0em 0em 0em;
}

h4 {
  font-family: "Trebuchet ms", Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 0.5em 0em;
}

h5 {
  font-family: "Trebuchet ms", Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
  margin: 0;
  padding: 0.5em 0em;
}

a {
  font-weight: bold;
  color: #3D5C7A;
  text-decoration: underline;
}

a:hover {
  color: #FA5214;
  text-decoration: none;
}

.a img {
  border-width: 0em;
}

ul {
  list-style-type: square;
}

td {
  vertical-align: middle;
  border-style: solid;
  border-width: 0.1em;
}

pre.code
{
  border: 0.1em solid #CCCCCC;
  background-color: #F5F5F5;
  padding: 0.5em 0.5em;
}

#images td {
  text-align: center;
  padding: 1em;
}

#images a {
  border: none;
  text-decoration: none;
}

#images a:hover {
  border: none;
}

#toc {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	display: table-cell;
	padding: 5px 5px;
	margin: 5px 5px 5px 5px;
    float: right;
}

#toc h3 {
    padding-left: 8px;
}

#toc ul {
    padding-left: 8px;
}

#toc li {
	list-style-type: none;
	padding-bottom: 4px;
}

