hermes
*.o
*.a
moc_*
qrc_*
qtc-*
Makefile*
*~
include/*
lib/*
configure-stamp
*.anh
*.log
*.debhelper
agros2d.substvars
agros2d
agros2d.pro.user
agros2d-remote
agros2d-remote.pro.user
agros_pythonlab
debian/files
resources_source/doc/build
resources/help
setup
install
*.res
*.qhc
*.qch
*.qm
*.pyc
data/data
doc/doxygen
*.ans
*.user
*.exe
pthreadGC2.dll
mingwm10.dll
src/python/agros2d.c
resources_source/python/agros2d.c
src/hermes2d/weakform/*
src/hermes2d/weakform_factory.h
data/scripts/test/jac.txt
data/scripts/test/test_acoustic_planar.py.orig
jac.txt
resources/couplings/.project
resources_source/python/agros2d.cpp
src/mainwindow.cpp.BACKUP.9065.cpp
src/mainwindow.cpp.BASE.9065.cpp
src/mainwindow.cpp.LOCAL.9065.cpp
src/mainwindow.cpp.REMOTE.9065.cpp
tmp
*.obj
*.dll
*.tlog
*.ipch
*.filters
*.vcxproj
*.manifest
*.lastbuildstate
*.lib
*.pdb
*.ilk
*.exp
*.opensdf
*.sdf
*.sln
*.suo
agros2d_generator
agros2d_pythonlab
agros2d_solver
agros2d_remote
agros2d_pythonlab
libs/
plugins/
resources_source/python/pythonlab.cpp
git_fetch.sh
data/save
DLLs
tcl
*.poly
*.ele
*.geo
*.node
*.edge
*.gen
.project
resources_source/doc/source/modules/rf_te/
resources_source/doc/source/modules/rf_tm/
*.depend
*.stamp
*.cache
*.cmake
*.mesh
*.msh
*.sol
*.bak
*.spc
CMakeFiles
CMakeCache.txt
*.unsuccessfulbuild
*_automoc.cpp
*.cbp
util/config.h
agros2d-library/__/
pythonlab-library/__/
CMake.vars
*.ts
