*.o
moc_*
qrc_*
qtc-*
Makefile*
*~
include/*
lib/*
configure-stamp
*.anh
*.log
*.debhelper
agros2d.substvars
agros2d
agros2d.pro.user
agros2d-remote
agros2d-remote.pro.user
debian/files
doc/help
doc/latex
doc/web
setup
install
*.res
*.qhc
*.qch
*.qm
*.pyc
data/data
doc/doxygen
*.ans