*.o
*.a
moc_*
qrc_*
qtc-*
Makefile*
*~
include/*
lib/*
configure-stamp
*.anh
*.log
*.debhelper
agros2d.substvars
agros2d
agros2d.pro.user
agros2d-remote
agros2d-remote.pro.user
debian/files
doc/build
setup
install
*.res
*.qhc
*.qch
*.qm
*.pyc
data/data
doc/doxygen
*.ans
*.user
*.exe
pthreadGC2.dll
mingwm10.dll
src/python/agros2d.c
src/hermes2d/weakform/*
src/hermes2d/weakform_factory.h
