body, h1, h2, h3, h4, h5, table {
	font-family: {{FONTFAMILY}}, sans-serif;
	font-size: {{FONTSIZE}}px;
	color: rgb(50, 50, 50);
}

body {
	/* background: url(/home/karban/Projects/agros2d-coupling/resources/templates/panels/background.png) no-repeat bottom left 100%; */
	background: rgba(206, 206, 206);
	padding-top: 6px;
	margin-top: 5px;
}

h1 {
	font-size: 190%;
	color: rgb(91, 91, 91);
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 1px;
}

h2 {
	font-size: 130%;
	margin-top: 3px;
	margin-bottom: 3px;
	color: rgb(91, 91, 91);
}

h3 {
	font-size: 110%;
	margin-top: 3px;
	margin-bottom: 3px;
	color: rgb(91, 91, 91);
}

h4 {
	font-size: 100%;
	margin-top: 3px;
	margin-bottom: 3px;
	color: rgb(91, 91, 91);
}

p {
	padding-left: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
}

table {
	padding-bottom: 10px;
	padding-top: 1px;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	width: 50%;
}

tr {
	vertical-align: top;
}

hr {
	border: 1px;
	margin-top: 3px;
	margin-bottom: 5px;
	color: rgb(207, 174, 133);
	background-color: rgb(207, 174, 133);
	height: 2px;
}

b {
	color: rgb(91, 91, 91);
}

a:link {
	color: #811517;
}
a:hover {
	color: #34458e;
}

a:link, a:visited {
	text-decoration: none;
}

.heading td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}

table.gridtable {
	width: auto;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.gridtable td {
	width: auto;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.figure {
	border: 8px;
	text-align: left;
}

.section {
	width: 100%;
}

.subsection {
	padding: 1px 0px 1px 4px;
	margin: 0;
}

.cleaner {
	clear: both;
}

.image {
	padding: 5pt 5pt 5pt 5pt;
}
