body {
	font-family: verdana, helvetica, arial, sans-serif;
	color: #000;
	background-color: #FFF;
	padding: 1em;
}

h1, h2, h3, h4 {
	font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
	font-weight: normal;
}

h3, h4 {
	margin-left: 0.5em;
}

h2 {
	border-bottom: 0.1em solid #CCC;
}

h4 {
	font-style: italic;
}

a {
	color: #87A019;
	text-decoration: none;
}

a:hover {
	color: #2582A4;
	text-decoration: underline;
}

p, table, img, pre, div {
	margin-left: 1em;
	margin-right: 1em;
}

table {
	background-color: #F5F5F5;
	border-collapse: collapse;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

table th, td {
	border: 0.1em solid #DDDDEE;
	padding: 0.25em;
}

table th {
	font-weight: bold;
	text-align: left;
}

img {
	border: none;
}

pre {
	background-color: #F5F5F5;
	border: 0.1em solid #AC9;
	padding: 0.25em;
}

#footer {
	margin-left: 0;
	font-style: italic;
}
