/* ##### Common Styles ##### */

body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 73%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 12px 18px;
  background-color: #fff;
}

html > body {
  font-size: 9pt;
}

a {
  color: rgb(61,92,122);
  background-color: transparent;
  text-decoration: underline;
  margin: 0;
  padding: 0 1px 2px 1px;
}

a:hover {
  color: rgb(250,82,20);
  text-decoration: none;
}

ul {
  list-style-type: square;
  margin: 1em 0 1.5em 0;
  padding-left: 2em;
}

ul li {
  line-height: 1em;
  margin: 5px 0 0 5px;
  padding-left: 0;
}

.doNotDisplay {
  display: none !important;
}

.smallCaps {
  font-size: 117%;
  font-variant: small-caps;
}


/* ##### Header ##### */

.superHeader {
  color: rgb(130,128,154);
/*  background-color: rgb(20,40,70);*/
  background-color: rgb(139,69,19);
  text-align: right;
  margin: 0;
  padding: 0.5ex 10px;
}

.superHeader span {
  color: rgb(195,196,210);
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
}

.superHeader a {
  color: rgb(195,196,210);
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0 2px 0 0;
}

.superHeader a:hover {
/*  color: rgb(193,102,90);*/
  color: rgb(250,82,20);
  background-color: transparent;
  text-decoration: none;
}

.midHeader {
  color: white;
/*  background-color: rgb(61,92,122);*/
  background-color: rgb(160, 82, 45);
  margin: 0;
  padding: 6px 8px;
  height: 105px;
  min-height: 80px;
}

.midHeaderBody {
  margin: 0px 130px;
  padding: 0px;
}

.headerTitle {
  font-size: 33px;
  font-weight: bold;
  padding: 0;
}

.headerSubTitle {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  padding: 0;
}

.headerSubSubTitle {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  padding: 0;
}

.headerUNRLogo {
  margin: 0;
  padding: 0;
  float: left;
}

.headerITLogo {
  margin: 0;
  padding: 0;
  float: right;
}

.headerLinks {
  text-align: right;
  margin: 0;
  padding: 0 0 16px 0;
  position: absolute;
  right: 25px;
  top: 50px;
}

.headerLinks a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0 0 4px 0;
  display: block;
}

.headerLinks a:hover {
  color: rgb(195,196,210);
  background-color: transparent;
  text-decoration: underline;
}

.subHeader {
  color: white;
/*  background-color: rgb(117,144,174);*/
  background-color: rgb(139,69,19);
  margin: 0;
  padding: 4px 10px;
  text-align: left;
}

.subHeader a, .subHeader .highlight {
  color: white;
  background-color: transparent;
  font-size: 110%;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0 4px 0 0.5ex;
}

.subHeader a:hover, .subHeader .highlight {
/*  color: rgb(255,204,0);
  background-color: transparent;*/
  color: rgb(210,180,140);
/*  color: rgb(81,122,172);*/
  background-color: transparent;  
  text-decoration: none;
}

h1 {
  color: rgb(117,144,174);
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 16pt;
  margin: 0;
  padding: 8px 0;
}

h2 {
  color: rgb(117,144,174);
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 13pt;
  margin: 0;
  padding: 10px 0 4px 0;
}

h3 {
  color: black;
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  margin: 0;
  padding: 9px 0 7px 0;
}

h4 {
  color: rgb(139,69,19);
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  margin: 0;
  padding: 16px 0 5px 0;
}

h5 {
  color: black;
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 9pt;
  margin: 0;
  padding: 9px 0 5px 0;
}

p {
  line-height: 1.5em;
  margin: 1em 0 1.5em 0;
  padding: 0;
}

em {
  color:  rgb(117,144,174);
  font-style: italic;
}

a {
  font-weight: bold;
}

/* ##### Footer ##### */

#footer {
  color: rgb(195,196,210);
  background-color: rgb(139,69,19);
  font-size: 87%;
  text-align: center;
  line-height: 1.25em;
  padding: 0.5ex 10px;
  clear: left;
}

#footer a {
  color: rgb(195,196,210);
  background-color: transparent;
  text-decoration: underline;
}

#footer a:hover {
  color: rgb(250,82,20);
  text-decoration: underline;
}

.a img {
  border-width: 0px;
}

div.right {
  padding: 15px;
  float:  right;
}

div.right img {
  border-width: 0px;
}

pre.code
{
    border: 1px solid #CCCCCC;
    background-color: #f5f5f5;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.centered {
  text-align: center;
}

/* Table images */

#images {
}

#images td {
	padding: 10px 10px 10px 10px;
	text-align: center;
	vertical-align: bottom;
}

#images a {
	border: none;
    text-decoration: none;
}

#images a:hover {
	border: none;
}
