body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 100%;
	background-color: #F8F8F8;
	color: #000;
	margin: 10px;
}

p,ol,ul {
	text-align: left;
}

strong {
	font-weight: bold;
	color: #808080;
}

a {
	color: #87A019;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #2582A4;
}

h1, h2, h3, h4, h5 {
	font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 2px;
	margin-top: 5px;
	margin-bottom: 3px;
}

h1 { 
	font-size: 200%; 
}

h2 {
	border-bottom: 1px solid #ccc;
	font-size: 140%; 
	padding-top: 3px;
	padding-bottom: 4px;
}

h3 { 
	font-size: 120%; 
	padding-top: 1px;
	padding-bottom: 1px;
}

h4 { 
	font-size: 100%; 
	padding-top: 1px;
	padding-bottom: 1px;
}

p.footer {
	margin: 0px;
	text-align: left;
}

img {
	border: none;
}

img.logo {
	float: right; 
	margin-left: 15px; 
	margin-bottom: 10px;
}

pre {
	padding: 5px;
	background-color: #F5F5F5;
	color: #000000;
	border: 1px solid #ac9;
	border-left: none;
	border-right: none;
}

table {
	font-size: 13px;
	border-collapse: collapse;
}

table TH {
	background-color: #F5F5F5;
	font-weight: bold;
	text-align: left;
	padding: 2px 5px;
	border: 1px solid #DDDDEE;
}

table TD {
	background-color: #F5F5F5;
	padding: 2px 5px;
	border: 1px solid #DDDDEE;
}

#figure div {
	padding-top: 3px;
	padding-bottom: 8px;
}
