/* Elements */
body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 80%;
    color: #000000;
    line-height: 1.5em;
    background-color: #FFFFFF;
    margin: 0;
    padding: 1em;
}

h1 {
	
}

h2,h3,h4,h5 {
	color: #2582A4;
	padding-top: 2px;
	padding-bottom: 1px;
}

p,ol,ul {
	text-align: justify;
}

strong {
	font-weight: bold;
	color: #808080;
}

a {
	color: #87A019;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #2582A4;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 15px;
}

h4 {
	font-size: 13px;
}

h5 {
	font-size: 11px;
    color: #8B4513;
}

p.footer {
	margin: 0px;
	text-align: center;
}

/* images */
img {
	border: none;
}

img.logo {
    float: right; 
    margin-left: 15px; 
    margin-bottom: 10px;
}

pre {
  border: 0.1em solid #CCCCCC;
  background-color: #F5F5F5;
  padding: 0.5em 0.5em;
}

/* table */
table {
	font-size: 13px;
	border-collapse: collapse;
}

table TH {
	background-color: #F5F5F5;
	font-weight: bold;
	text-align: left;
	padding: 2px 5px;
	border: 1px solid #DDDDEE;
}

table TD {
	background-color: #F5F5F5;
	padding: 2px 5px;
	border: 1px solid #DDDDEE;
}
